header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

header div {
  background-color: var(--primary);
}

.logo {
  max-width: 20vw !important;
}


@media screen and (min-width: 768px) {

  .logo {
    max-width: 10vh !important;
  }

}