.activeNav {
  text-decoration: underline !important;
}

#fullNavbar {
  width: 60vw;
}

#nav-ionicon {
  font-size: 2rem;
}

.nav-links {
  flex-direction: column;
}

.nav-link {
  font-size: 150% !important;
  color: white !important;
}

@media screen and (max-width: 768px) {

  #fullNavbar {
    display: none !important;
  }

}

@media screen and (min-width: 960px) {

  #fullNavbar {
    display: flex;
    width: 65vw;
  }

  .nav-links {
    flex-direction: row !important;
  }

  .nav-link {
    font-size: 125% !important;
    margin-left: 2rem;
  }

}

@media screen and (min-width: 1920px) {

  #fullNavbar {
    width: 45vw !important;
  }

}

@media screen and (min-width: 2560px) {

  #fullNavbar {
    width: 35vw !important;
  }

}
