.offcanvas {
  z-index: 10000;
}

.navbar-toggler {
  border: none !important;
}

.navbar-toggler-icon {
  display: none !important;
}

button:focus:not(:focus-visible) {
  outline: none !important;
}

.offcanvas-header,
.offcanvas-body {
  width: 100vw !important;
}

.offcanvas-header {
  background-color: var(--primary);
}


#toggler-icon {
  color: var(--third);
  font-size: 3.5rem;
}

#oc-body {
  background-color: var(--off-white);
}

.background-pattern {
  position: relative;
  overflow: hidden;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3E%3Cpath fill='%23354f52' fill-opacity='1' d='M0,32L48,74.7C96,117,192,203,288,234.7C384,267,480,245,576,213.3C672,181,768,139,864,117.3C960,96,1056,96,1152,117.3C1248,139,1344,181,1392,202.7L1440,224L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z'%3E%3C/path%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
  background-position: bottom;
}

.btn-close {
  width: 20vw !important;
  font-size: 1.5rem;
}

#oc-logo {
  width: 20vw !important;
}

#oc-nav {
  flex-direction: column;
  gap: 2rem;
}

#oc-ionicon {
  font-size: 2rem;
  color: var(--secondary);
}

#oc-nav-link {
  font-size: 150% !important;
  color: var(--secondary) !important;
}

@media screen and (min-width: 767px) {

  #oc-navbar {
    display: none;
  }
}
